In [1]:
import pandas as pd

# Aula 1

In [8]:
link_sus = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/dados_sus.csv'

###### Tratando erros de encoding:

In [9]:
import chardet

ModuleNotFoundError: No module named 'chardet'

In [10]:
with open('dados_sus.csv', 'rb') as file:
    print(chardet.detect(file.read()))

NameError: name 'chardet' is not defined

###### Aplicando informações ao código de leitura do arquivo .csv:

In [ ]:
dados_sus = pd.read_csv('dados_sus.csv', encoding = 'ISO-8859-1', engine =  \
                        'python', skiprows = 3, skipfooter = 9, sep = ';')

In [ ]:
#Encoding = tipo de codificação do arquivo
#Engine = Necessária para o parametro skipfooter funcionar
#Skiprows = Elimina as n primeiras linhas informadas
#Skipfooter = Eliminas as n ultimas linhas informadas

In [ ]:
dados_sus.head()

# Aula 3

In [3]:
#Obtendo dados JSON através de uma API e normalizando-os:
import requests
import json
#Bibliotecas necessárias para acessar API

In [4]:
#Obtendo dados da API
dados_frutas = requests.get('https://fruityvice.com/api/fruit/all')

In [5]:
#Recuperando resultados:
resultado = json.loads(dados_frutas.text)

In [6]:
pd.json_normalize(resultado).head(1)

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0

In [7]:
df_frutas = pd.DataFrame(resultado)

In [8]:
df_frutas.head(1)

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."

In [21]:
df_frutas.to_json('df_frutas_ii.json')

In [22]:
df_frutas_iii = pd.read_json('df_frutas_ii.json')

In [44]:
import json
#Lendo o arquivo json usando o módulo Python JSON
with open('df_frutas_ii.json','r') as f:
    dados = json.loads(f.read())

pd.json_normalize(dados, record_path = 'nutritions', meta = ['name', 'id', 'family', 'order', 'genus'])

TypeError: {'name': {'0': 'Persimmon', '1': 'Strawberry', '2': 'Banana', '3': 'Tomato', '4': 'Pear', '5': 'Durian', '6': 'Blackberry', '7': 'Lingonberry', '8': 'Kiwi', '9': 'Lychee', '10': 'Pineapple', '11': 'Fig', '12': 'Gooseberry', '13': 'Passionfruit', '14': 'Plum', '15': 'Orange', '16': 'GreenApple', '17': 'Raspberry', '18': 'Watermelon', '19': 'Lemon', '20': 'Mango', '21': 'Blueberry', '22': 'Apple', '23': 'Guava', '24': 'Apricot', '25': 'Melon', '26': 'Tangerine', '27': 'Pitahaya', '28': 'Lime', '29': 'Pomegranate', '30': 'Dragonfruit', '31': 'Grape', '32': 'Morus', '33': 'Feijoa', '34': 'Avocado', '35': 'Kiwifruit', '36': 'Cranberry', '37': 'Cherry', '38': 'Peach', '39': 'Jackfruit', '40': 'Horned Melon', '41': 'Hazelnut', '42': 'Pomelo', '43': 'Mangosteen', '44': 'Pumpkin', '45': 'Japanese Persimmon', '46': 'Papaya', '47': 'Annona', '48': 'Ceylon Gooseberry'}, 'id': {'0': 52, '1': 3, '2': 1, '3': 5, '4': 4, '5': 60, '6': 64, '7': 65, '8': 66, '9': 67, '10': 10, '11': 68, '12': 69, '13': 70, '14': 71, '15': 2, '16': 72, '17': 23, '18': 25, '19': 26, '20': 27, '21': 33, '22': 6, '23': 37, '24': 35, '25': 41, '26': 77, '27': 78, '28': 44, '29': 79, '30': 80, '31': 81, '32': 82, '33': 76, '34': 84, '35': 85, '36': 87, '37': 9, '38': 86, '39': 94, '40': 95, '41': 96, '42': 98, '43': 99, '44': 100, '45': 101, '46': 42, '47': 103, '48': 104}, 'family': {'0': 'Ebenaceae', '1': 'Rosaceae', '2': 'Musaceae', '3': 'Solanaceae', '4': 'Rosaceae', '5': 'Malvaceae', '6': 'Rosaceae', '7': 'Ericaceae', '8': 'Actinidiaceae', '9': 'Sapindaceae', '10': 'Bromeliaceae', '11': 'Moraceae', '12': 'Grossulariaceae', '13': 'Passifloraceae', '14': 'Rosaceae', '15': 'Rutaceae', '16': 'Rosaceae', '17': 'Rosaceae', '18': 'Cucurbitaceae', '19': 'Rutaceae', '20': 'Anacardiaceae', '21': 'Rosaceae', '22': 'Rosaceae', '23': 'Myrtaceae', '24': 'Rosaceae', '25': 'Cucurbitaceae', '26': 'Rutaceae', '27': 'Cactaceae', '28': 'Rutaceae', '29': 'Lythraceae', '30': 'Cactaceae', '31': 'Vitaceae', '32': 'Moraceae', '33': 'Myrtaceae', '34': 'Lauraceae', '35': 'Actinidiaceae', '36': 'Ericaceae', '37': 'Rosaceae', '38': 'Rosaceae', '39': 'Moraceae', '40': 'Cucurbitaceae', '41': 'Betulaceae', '42': 'Rutaceae', '43': 'Clusiaceae', '44': 'Cucurbitaceae', '45': ' Ebenaceae', '46': 'Caricaceae', '47': 'Annonaceae', '48': 'Salicaceae'}, 'order': {'0': 'Rosales', '1': 'Rosales', '2': 'Zingiberales', '3': 'Solanales', '4': 'Rosales', '5': 'Malvales', '6': 'Rosales', '7': 'Ericales', '8': 'Struthioniformes', '9': 'Sapindales', '10': 'Poales', '11': 'Rosales', '12': 'Saxifragales', '13': 'Malpighiales', '14': 'Rosales', '15': 'Sapindales', '16': 'Rosales', '17': 'Rosales', '18': 'Cucurbitales', '19': 'Sapindales', '20': 'Sapindales', '21': 'Rosales', '22': 'Rosales', '23': 'Myrtales', '24': 'Rosales', '25': 'Cucurbitaceae', '26': 'Sapindales', '27': 'Caryophyllales', '28': 'Sapindales', '29': 'Myrtales', '30': 'Caryophyllales', '31': 'Vitales', '32': 'Rosales', '33': 'Myrtoideae', '34': 'Laurales', '35': 'Ericales', '36': 'Ericales', '37': 'Rosales', '38': 'Rosales', '39': 'Rosales', '40': 'Cucurbitales', '41': 'Fagales', '42': 'Sapindales', '43': 'Malpighiales', '44': 'Cucurbitales', '45': ' Ericales', '46': 'Brassicales', '47': 'Rosales', '48': 'Malpighiales'}, 'genus': {'0': 'Diospyros', '1': 'Fragaria', '2': 'Musa', '3': 'Solanum', '4': 'Pyrus', '5': 'Durio', '6': 'Rubus', '7': 'Vaccinium', '8': 'Apteryx', '9': 'Litchi', '10': 'Ananas', '11': 'Ficus', '12': 'Ribes', '13': 'Passiflora', '14': 'Prunus', '15': 'Citrus', '16': 'Malus', '17': 'Rubus', '18': 'Citrullus', '19': 'Citrus', '20': 'Mangifera', '21': 'Fragaria', '22': 'Malus', '23': 'Psidium', '24': 'Prunus', '25': 'Cucumis', '26': 'Citrus', '27': 'Cactaceae', '28': 'Citrus', '29': 'Punica', '30': 'Selenicereus', '31': 'Vitis', '32': 'Morus', '33': 'Sellowiana', '34': 'Persea', '35': 'Actinidia', '36': 'Vaccinium', '37': 'Prunus', '38': 'Prunus', '39': 'Artocarpus', '40': 'Cucumis', '41': 'Corylus', '42': 'Citrus', '43': 'Garcinia', '44': 'Cucurbita', '45': 'Diospyros', '46': 'Carica', '47': 'Annonas', '48': 'Dovyalis'}, 'nutritions': {'0': {'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'carbohydrates': 18.0, 'protein': 0.0}, '1': {'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'carbohydrates': 5.5, 'protein': 0.8}, '2': {'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'carbohydrates': 22.0, 'protein': 1.0}, '3': {'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'carbohydrates': 3.9, 'protein': 0.9}, '4': {'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'carbohydrates': 15.0, 'protein': 0.4}, '5': {'calories': 147, 'fat': 5.3, 'sugar': 6.75, 'carbohydrates': 27.1, 'protein': 1.5}, '6': {'calories': 40, 'fat': 0.4, 'sugar': 4.5, 'carbohydrates': 9.0, 'protein': 1.3}, '7': {'calories': 50, 'fat': 0.34, 'sugar': 5.74, 'carbohydrates': 11.3, 'protein': 0.75}, '8': {'calories': 61, 'fat': 0.5, 'sugar': 9.0, 'carbohydrates': 15.0, 'protein': 1.1}, '9': {'calories': 66, 'fat': 0.44, 'sugar': 15.0, 'carbohydrates': 17.0, 'protein': 0.8}, '10': {'calories': 50, 'fat': 0.12, 'sugar': 9.85, 'carbohydrates': 13.12, 'protein': 0.54}, '11': {'calories': 74, 'fat': 0.3, 'sugar': 16.0, 'carbohydrates': 19.0, 'protein': 0.8}, '12': {'calories': 44, 'fat': 0.6, 'sugar': 0.0, 'carbohydrates': 10.0, 'protein': 0.9}, '13': {'calories': 97, 'fat': 0.7, 'sugar': 11.2, 'carbohydrates': 22.4, 'protein': 2.2}, '14': {'calories': 46, 'fat': 0.28, 'sugar': 9.92, 'carbohydrates': 11.4, 'protein': 0.7}, '15': {'calories': 43, 'fat': 0.2, 'sugar': 8.2, 'carbohydrates': 8.3, 'protein': 1.0}, '16': {'calories': 21, 'fat': 0.1, 'sugar': 6.4, 'carbohydrates': 3.1, 'protein': 0.4}, '17': {'calories': 53, 'fat': 0.7, 'sugar': 4.4, 'carbohydrates': 12.0, 'protein': 1.2}, '18': {'calories': 30, 'fat': 0.2, 'sugar': 6.0, 'carbohydrates': 8.0, 'protein': 0.6}, '19': {'calories': 29, 'fat': 0.3, 'sugar': 2.5, 'carbohydrates': 9.0, 'protein': 1.1}, '20': {'calories': 60, 'fat': 0.38, 'sugar': 13.7, 'carbohydrates': 15.0, 'protein': 0.82}, '21': {'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'carbohydrates': 5.5, 'protein': 0.0}, '22': {'calories': 52, 'fat': 0.4, 'sugar': 10.3, 'carbohydrates': 11.4, 'protein': 0.3}, '23': {'calories': 68, 'fat': 1.0, 'sugar': 9.0, 'carbohydrates': 14.0, 'protein': 2.6}, '24': {'calories': 15, 'fat': 0.1, 'sugar': 3.2, 'carbohydrates': 3.9, 'protein': 0.5}, '25': {'calories': 34, 'fat': 0.0, 'sugar': 8.0, 'carbohydrates': 8.0, 'protein': 0.0}, '26': {'calories': 45, 'fat': 0.4, 'sugar': 9.1, 'carbohydrates': 8.3, 'protein': 0.0}, '27': {'calories': 36, 'fat': 0.4, 'sugar': 3.0, 'carbohydrates': 7.0, 'protein': 1.0}, '28': {'calories': 25, 'fat': 0.1, 'sugar': 1.7, 'carbohydrates': 8.4, 'protein': 0.3}, '29': {'calories': 83, 'fat': 1.2, 'sugar': 13.7, 'carbohydrates': 18.7, 'protein': 1.7}, '30': {'calories': 60, 'fat': 1.5, 'sugar': 8.0, 'carbohydrates': 9.0, 'protein': 9.0}, '31': {'calories': 69, 'fat': 0.16, 'sugar': 16.0, 'carbohydrates': 18.1, 'protein': 0.72}, '32': {'calories': 43, 'fat': 0.39, 'sugar': 8.1, 'carbohydrates': 9.8, 'protein': 1.44}, '33': {'calories': 44, 'fat': 0.4, 'sugar': 3.0, 'carbohydrates': 8.0, 'protein': 0.6}, '34': {'calories': 160, 'fat': 14.66, 'sugar': 0.66, 'carbohydrates': 8.53, 'protein': 2.0}, '35': {'calories': 61, 'fat': 0.5, 'sugar': 8.9, 'carbohydrates': 14.6, 'protein': 1.14}, '36': {'calories': 46, 'fat': 0.1, 'sugar': 4.0, 'carbohydrates': 12.2, 'protein': 0.4}, '37': {'calories': 50, 'fat': 0.3, 'sugar': 8.0, 'carbohydrates': 12.0, 'protein': 1.0}, '38': {'calories': 39, 'fat': 0.25, 'sugar': 8.4, 'carbohydrates': 9.5, 'protein': 0.9}, '39': {'calories': 95, 'fat': 0.0, 'sugar': 19.1, 'carbohydrates': 23.2, 'protein': 1.72}, '40': {'calories': 44, 'fat': 1.26, 'sugar': 0.5, 'carbohydrates': 7.56, 'protein': 1.78}, '41': {'calories': 628, 'fat': 61.0, 'sugar': 4.3, 'carbohydrates': 17.0, 'protein': 15.0}, '42': {'calories': 37, 'fat': 0.0, 'sugar': 8.5, 'carbohydrates': 9.67, 'protein': 0.82}, '43': {'calories': 73, 'fat': 0.58, 'sugar': 16.11, 'carbohydrates': 17.91, 'protein': 0.41}, '44': {'calories': 25, 'fat': 0.3, 'sugar': 3.3, 'carbohydrates': 4.6, 'protein': 1.1}, '45': {'calories': 70, 'fat': 0.2, 'sugar': 13.0, 'carbohydrates': 19.0, 'protein': 0.6}, '46': {'calories': 39, 'fat': 0.3, 'sugar': 4.4, 'carbohydrates': 5.8, 'protein': 0.5}, '47': {'calories': 92, 'fat': 0.29, 'sugar': 3.4, 'carbohydrates': 19.1, 'protein': 1.5}, '48': {'calories': 47, 'fat': 0.3, 'sugar': 8.1, 'carbohydrates': 9.6, 'protein': 1.2}}} has non list value {'0': {'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'carbohydrates': 18.0, 'protein': 0.0}, '1': {'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'carbohydrates': 5.5, 'protein': 0.8}, '2': {'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'carbohydrates': 22.0, 'protein': 1.0}, '3': {'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'carbohydrates': 3.9, 'protein': 0.9}, '4': {'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'carbohydrates': 15.0, 'protein': 0.4}, '5': {'calories': 147, 'fat': 5.3, 'sugar': 6.75, 'carbohydrates': 27.1, 'protein': 1.5}, '6': {'calories': 40, 'fat': 0.4, 'sugar': 4.5, 'carbohydrates': 9.0, 'protein': 1.3}, '7': {'calories': 50, 'fat': 0.34, 'sugar': 5.74, 'carbohydrates': 11.3, 'protein': 0.75}, '8': {'calories': 61, 'fat': 0.5, 'sugar': 9.0, 'carbohydrates': 15.0, 'protein': 1.1}, '9': {'calories': 66, 'fat': 0.44, 'sugar': 15.0, 'carbohydrates': 17.0, 'protein': 0.8}, '10': {'calories': 50, 'fat': 0.12, 'sugar': 9.85, 'carbohydrates': 13.12, 'protein': 0.54}, '11': {'calories': 74, 'fat': 0.3, 'sugar': 16.0, 'carbohydrates': 19.0, 'protein': 0.8}, '12': {'calories': 44, 'fat': 0.6, 'sugar': 0.0, 'carbohydrates': 10.0, 'protein': 0.9}, '13': {'calories': 97, 'fat': 0.7, 'sugar': 11.2, 'carbohydrates': 22.4, 'protein': 2.2}, '14': {'calories': 46, 'fat': 0.28, 'sugar': 9.92, 'carbohydrates': 11.4, 'protein': 0.7}, '15': {'calories': 43, 'fat': 0.2, 'sugar': 8.2, 'carbohydrates': 8.3, 'protein': 1.0}, '16': {'calories': 21, 'fat': 0.1, 'sugar': 6.4, 'carbohydrates': 3.1, 'protein': 0.4}, '17': {'calories': 53, 'fat': 0.7, 'sugar': 4.4, 'carbohydrates': 12.0, 'protein': 1.2}, '18': {'calories': 30, 'fat': 0.2, 'sugar': 6.0, 'carbohydrates': 8.0, 'protein': 0.6}, '19': {'calories': 29, 'fat': 0.3, 'sugar': 2.5, 'carbohydrates': 9.0, 'protein': 1.1}, '20': {'calories': 60, 'fat': 0.38, 'sugar': 13.7, 'carbohydrates': 15.0, 'protein': 0.82}, '21': {'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'carbohydrates': 5.5, 'protein': 0.0}, '22': {'calories': 52, 'fat': 0.4, 'sugar': 10.3, 'carbohydrates': 11.4, 'protein': 0.3}, '23': {'calories': 68, 'fat': 1.0, 'sugar': 9.0, 'carbohydrates': 14.0, 'protein': 2.6}, '24': {'calories': 15, 'fat': 0.1, 'sugar': 3.2, 'carbohydrates': 3.9, 'protein': 0.5}, '25': {'calories': 34, 'fat': 0.0, 'sugar': 8.0, 'carbohydrates': 8.0, 'protein': 0.0}, '26': {'calories': 45, 'fat': 0.4, 'sugar': 9.1, 'carbohydrates': 8.3, 'protein': 0.0}, '27': {'calories': 36, 'fat': 0.4, 'sugar': 3.0, 'carbohydrates': 7.0, 'protein': 1.0}, '28': {'calories': 25, 'fat': 0.1, 'sugar': 1.7, 'carbohydrates': 8.4, 'protein': 0.3}, '29': {'calories': 83, 'fat': 1.2, 'sugar': 13.7, 'carbohydrates': 18.7, 'protein': 1.7}, '30': {'calories': 60, 'fat': 1.5, 'sugar': 8.0, 'carbohydrates': 9.0, 'protein': 9.0}, '31': {'calories': 69, 'fat': 0.16, 'sugar': 16.0, 'carbohydrates': 18.1, 'protein': 0.72}, '32': {'calories': 43, 'fat': 0.39, 'sugar': 8.1, 'carbohydrates': 9.8, 'protein': 1.44}, '33': {'calories': 44, 'fat': 0.4, 'sugar': 3.0, 'carbohydrates': 8.0, 'protein': 0.6}, '34': {'calories': 160, 'fat': 14.66, 'sugar': 0.66, 'carbohydrates': 8.53, 'protein': 2.0}, '35': {'calories': 61, 'fat': 0.5, 'sugar': 8.9, 'carbohydrates': 14.6, 'protein': 1.14}, '36': {'calories': 46, 'fat': 0.1, 'sugar': 4.0, 'carbohydrates': 12.2, 'protein': 0.4}, '37': {'calories': 50, 'fat': 0.3, 'sugar': 8.0, 'carbohydrates': 12.0, 'protein': 1.0}, '38': {'calories': 39, 'fat': 0.25, 'sugar': 8.4, 'carbohydrates': 9.5, 'protein': 0.9}, '39': {'calories': 95, 'fat': 0.0, 'sugar': 19.1, 'carbohydrates': 23.2, 'protein': 1.72}, '40': {'calories': 44, 'fat': 1.26, 'sugar': 0.5, 'carbohydrates': 7.56, 'protein': 1.78}, '41': {'calories': 628, 'fat': 61.0, 'sugar': 4.3, 'carbohydrates': 17.0, 'protein': 15.0}, '42': {'calories': 37, 'fat': 0.0, 'sugar': 8.5, 'carbohydrates': 9.67, 'protein': 0.82}, '43': {'calories': 73, 'fat': 0.58, 'sugar': 16.11, 'carbohydrates': 17.91, 'protein': 0.41}, '44': {'calories': 25, 'fat': 0.3, 'sugar': 3.3, 'carbohydrates': 4.6, 'protein': 1.1}, '45': {'calories': 70, 'fat': 0.2, 'sugar': 13.0, 'carbohydrates': 19.0, 'protein': 0.6}, '46': {'calories': 39, 'fat': 0.3, 'sugar': 4.4, 'carbohydrates': 5.8, 'protein': 0.5}, '47': {'calories': 92, 'fat': 0.29, 'sugar': 3.4, 'carbohydrates': 19.1, 'protein': 1.5}, '48': {'calories': 47, 'fat': 0.3, 'sugar': 8.1, 'carbohydrates': 9.6, 'protein': 1.2}} for path nutritions. Must be list or null.

# Aula 4 - .html e .xml

In [3]:
import pandas as pd

In [4]:
link_wikipedia = 'https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o'

In [5]:
tabelas_wikipedia = pd.read_html(link_wikipedia)

In [15]:
nova_tabela_wikipedia = tabelas_wikipedia[0]

In [26]:
nova_tabela_wikipedia.drop(columns = 'Unnamed: 0', axis = 1, inplace = True)

In [28]:
nova_tabela_wikipedia.head(1)

,Posição,País (ou território dependente),Estimativa da ONU,Crescimento desde a última estimativa,Estimativa Oficial
0,1,Índia,1 429 921 746,+269.108.746,Estimativa oficial

In [29]:
nova_tabela_wikipedia.to_html('tabela_populacional.html')

# Aula 5 - Banco de Dados

##### Criação do Banco de Dados:

In [1]:
import pandas as pd

In [2]:
import sqlalchemy

In [4]:
from sqlalchemy import create_engine, MetaData, Table, inspect, text

In [5]:
engine = create_engine('sqlite:///:memory:')

##### Inserção de tabelas no Banco de Dados e checagem:

In [6]:
clientes = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv')

In [7]:
clientes.head(1)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado

In [8]:
clientes.to_sql('bd_clientes', engine, index = False)

438463

In [9]:
inspector = inspect(engine)

In [10]:
print(inspector.get_table_names())

['bd_clientes']

##### Realizando Atualizações I:

In [27]:
#Atualizar o registro do cliente de ID 6840104 que teve o rendimento anual alterado para 300000:
query = 'UPDATE bd_clientes SET Rendimento_anual=300000 WHERE ID_Cliente=6840104'

In [28]:
with engine.connect() as conn:
    conn.execute(text(query))
    conn.commit()

In [31]:
pd.read_sql_table('bd_clientes', engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Ensino médio,Divorciado,1,Pensionista,Outro,0,300000.0,0,Casa/apartamento próprio
438459,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
438460,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438461,6842765,59,Ensino médio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento próprio
438462,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio

##### Realizando Atualizações II:

In [40]:
#Excluir o registro do cliente de ID 5008809, pois essa pessoa não possui mais conta na instituição financeira:
query_2 = 'DELETE FROM bd_clientes WHERE ID_Cliente=5008809'

In [41]:
with engine.connect() as conn:
    conn.execute(text(query_2))
    conn.commit()

In [42]:
pd.read_sql_table('bd_clientes', engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008810,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
438459,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438460,6842765,59,Ensino médio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento próprio
438461,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio
438462,6850985,33,Doutorado,Solteiro,1,Empregado,TI,2,290000.0,0,Casa/apartamento próprio
438463,6850985,33,Doutorado,Solteiro,1,Empregado,TI,2,290000.0,0,Casa/apartamento próprio

##### Realizando atualizações III:

Criar um novo registro de cliente seguindo as especificações abaixo:
ID_Cliente: 6850985
Idade: 33
Grau_escolaridade: Doutorado
Estado_civil: Solteiro
Tamanho_familia: 1
Categoria_de_renda: Empregado
Ocupacao: TI
Anos_empregado: 2
Rendimento_anual: 290000
Tem_carro: 0
Moradia: Casa/apartamento próprio

In [43]:
query_iii = 'INSERT INTO bd_clientes (ID_Cliente, Idade, Grau_escolaridade, Estado_civil, Tamanho_familia, Categoria_de_renda, \
                                      Ocupacao, Anos_empregado, Rendimento_anual, Tem_carro, Moradia) \
                                      VALUES (6850985, 33, "Doutorado", "Solteiro", 1, "Empregado", "TI", 2, 290000, 0, "Casa/apartamento próprio")'

In [44]:
with engine.connect() as conn:
    conn.execute(text(query_iii))
    conn.commit()

In [45]:
pd.read_sql_table('bd_clientes', engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008810,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
438460,6842765,59,Ensino médio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento próprio
438461,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio
438462,6850985,33,Doutorado,Solteiro,1,Empregado,TI,2,290000.0,0,Casa/apartamento próprio
438463,6850985,33,Doutorado,Solteiro,1,Empregado,TI,2,290000.0,0,Casa/apartamento próprio
438464,6850985,33,Doutorado,Solteiro,1,Empregado,TI,2,290000.0,0,Casa/apartamento próprio