In [1]:
import pandas as pd

In [2]:
dados = pd.read_excel('1-SEEG10_GERAL-BR_UF_2022.10.27-FINAL-SITE.xlsx', sheet_name = 'GEE Estados')

C:\Users\diego\anaconda3\envs\Updated_Environment\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [3]:
dados.head(1)

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Emissão / Remoção / Bunker,Gás,Estado,Atividade Econômica,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Processos Industriais,Indústria Química,Produção de ABS,NaN,NaN,NaN,Emissão,COVNM (t),SP,OUTRA_IND,...,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6

# Aula 1

##### Encontre os valores únicos das colunas "Nível 1 - Setor" e "Estado" para identificar as atividades econômicas presentes na base de dados e se todos os Estados do Brasil estão presentes no DataFrame:

In [4]:
dados['Nível 1 - Setor'].unique()

array(['Processos Industriais', 'Agropecuária', 'Energia', 'Resíduos ',
       'Mudança de Uso da Terra e Floresta'], dtype=object)

In [5]:
dados['Estado'].unique()

array(['SP', 'BA', 'RJ', 'MG', 'SE', 'PR', nan, 'RO', 'AM', 'PA', 'TO',
       'MA', 'PI', 'CE', 'RN', 'PB', 'PE', 'AL', 'MT', 'MS', 'GO', 'DF',
       'ES', 'SC', 'RS', 'AC', 'AP', 'RR', 'BR'], dtype=object)

In [6]:
dados['Estado'].unique().size #Há um total de 29, pois existem dados de NaN e BR. De qualquer forma, todos os estados estão presentes

29

##### Filtre o DataFrame somente com os dados dos Estados da região Sul do Brasil:

In [7]:
dados_sul = dados.loc[dados['Estado'].isin(['SC', 'RS', 'PR'])]
dados_sul.head(1)

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Emissão / Remoção / Bunker,Gás,Estado,Atividade Econômica,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
35,Processos Industriais,Indústria Química,Produção de Amônia,NaN,NaN,NaN,Emissão,CO2 (t),PR,OUTRA_IND,...,456204.213475,468261.621098,515168.900775,515168.900775,515168.900775,515168.900775,515168.900775,515168.900775,515168.900775,515168.900775

In [8]:
dados_sul['Estado'].unique() #Confurmando os estados da região sul

array(['PR', 'SC', 'RS'], dtype=object)

##### Filtre o DataFrame somente com os dados de "Mudança de Uso da Terra e Floresta" que sejam do Estado do Amazonas:

In [9]:
dados.head(1)

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Emissão / Remoção / Bunker,Gás,Estado,Atividade Econômica,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Processos Industriais,Indústria Química,Produção de ABS,NaN,NaN,NaN,Emissão,COVNM (t),SP,OUTRA_IND,...,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6

In [10]:
dados_mudanca_am = dados[(dados['Nível 1 - Setor'] == 'Mudança de Uso da Terra e Floresta') & (dados['Estado'] == 'AM')]
dados_mudanca_am.head(1)

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Emissão / Remoção / Bunker,Gás,Estado,Atividade Econômica,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
81262,Mudança de Uso da Terra e Floresta,Alterações de Uso da Terra,Amazônia,fora de Área Protegida,Desmatamento,Floresta primária -- Área sem vegetação,Emissão,CO2 (t),AM,AGROPEC,...,85118.0,97637.0,87619.0,121815.0,113759.0,52998.0,61170.0,48264.0,14381.0,31867.0

In [11]:
dados_mudanca_am['Nível 1 - Setor'].unique() #Checando setor

array(['Mudança de Uso da Terra e Floresta'], dtype=object)

In [12]:
dados_mudanca_am['Estado'].unique() #Checando estado

array(['AM'], dtype=object)

##### Encontre o valor máximo de emissão do ano de 2021 para os dados de "Agropecuária" no Estado do Pará:

In [13]:
dados.head(1)

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Emissão / Remoção / Bunker,Gás,Estado,Atividade Econômica,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Processos Industriais,Indústria Química,Produção de ABS,NaN,NaN,NaN,Emissão,COVNM (t),SP,OUTRA_IND,...,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6

In [14]:
dados.loc[((dados['Nível 1 - Setor'] == 'Agropecuária') & (dados['Estado'].isin(['PA']))), 2021].max()
#Valor máximo do estado do Pará, no setor Agropecuária para o ano de 2021

36856969.7986

# Aula 2

In [15]:
#Inicialmente, criaremos o DataFrame emissões por ano, conforme a aula

In [16]:
dados.head(1)

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Emissão / Remoção / Bunker,Gás,Estado,Atividade Econômica,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Processos Industriais,Indústria Química,Produção de ABS,NaN,NaN,NaN,Emissão,COVNM (t),SP,OUTRA_IND,...,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6

In [17]:
dados.drop(columns = 'Emissão / Remoção / Bunker', axis = 1, inplace = True)

In [18]:
dados.head(1)

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Gás,Estado,Atividade Econômica,Produto,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Processos Industriais,Indústria Química,Produção de ABS,NaN,NaN,NaN,COVNM (t),SP,OUTRA_IND,NaN,...,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6,897.6

In [19]:
colunas_a_manter = dados.loc[:, 'Nível 1 - Setor' : 'Produto']
colunas_a_manter = list(colunas_a_manter)

In [20]:
colunas_a_mudar = dados.loc[:, 1970 : 2021]
colunas_a_mudar = list(colunas_a_mudar)

In [21]:
dados_atualizados = dados.melt(id_vars = colunas_a_manter, value_vars = colunas_a_mudar, \
                               var_name = 'Ano', value_name = 'Emissão')

In [22]:
dados_atualizados.head(1)

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Gás,Estado,Atividade Econômica,Produto,Ano,Emissão
0,Processos Industriais,Indústria Química,Produção de ABS,NaN,NaN,NaN,COVNM (t),SP,OUTRA_IND,NaN,1970,0.0

In [23]:
dados_atualizados.shape

(5372224, 12)

##### Faça um agrupamento de dados com base na coluna "Nível 1 - Setor" para visualizar o dicionário contendo as chaves de grupos formados e a lista de índices de cada grupo:

In [24]:
dados_atualizados.groupby('Nível 1 - Setor').groups

{'Agropecuária': [1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, ...], 'Energia': [24735, 24736, 24737, 24738, 24739, 24740, 24741, 24742, 24743, 24744, 24745, 24746, 24747, 24748, 24749, 24750, 24751, 24752, 24753, 24754, 24755, 24756, 24757, 24758, 24759, 24760, 24761, 24762, 24763, 24764, 24765, 24766, 24767, 24768, 24769, 24770, 24771, 24772, 24773, 24774, 24775, 24776, 24777, 24778, 24779, 24780, 24781, 24782, 24783, 24784, 24785, 24786, 24787, 24788, 24789, 24790, 24791, 24792, 24793, 24794, 24795, 24796, 24797, 24798, 24799, 24800, 24801, 24802, 24803, 24804, 24805, 24806, 24807, 24808, 24809, 24810, 24811, 24812, 24813, 24814, 24815, 24816, 24817, 24818, 24819, 24820, 24821, 24822, 24823, 24824, 24825, 24826, 24827, 24828, 24829, 24830, 24831, 24832, 24833, 24834, ...], 'Mudança de Uso da Terra e Floresta': [81260, 81261, 81262, 81263, 81264, 81265, 81266, 81267, 81268, 81269, 81270, 81271, 81272, 81273, 81274, 81275, 81276, 81277, 81278, 81279, 81280, 81281, 81282, 81283, 81284, 81285, 81286, 81287, 81288, 81289, 81290, 81291, 81292, 81293, 81294, 81295, 81296, 81297, 81298, 81299, 81300, 81301, 81302, 81303, 81304, 81305, 81306, 81307, 81308, 81309, 81310, 81311, 81312, 81313, 81314, 81315, 81316, 81317, 81318, 81319, 81320, 81321, 81322, 81323, 81324, 81325, 81326, 81327, 81328, 81329, 81330, 81331, 81332, 81333, 81334, 81335, 81336, 81337, 81338, 81339, 81340, 81341, 81342, 81343, 81344, 81345, 81346, 81347, 81348, 81349, 81350, 81351, 81352, 81353, 81354, 81355, 81356, 81357, 81358, 81359, ...], 'Processos Industriais': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...], 'Resíduos ': [77444, 77445, 77446, 77447, 77448, 77449, 77450, 77451, 77452, 77453, 77454, 77455, 77456, 77457, 77458, 77459, 77460, 77461, 77462, 77463, 77464, 77465, 77466, 77467, 77468, 77469, 77470, 77471, 77472, 77473, 77474, 77475, 77476, 77477, 77478, 77479, 77480, 77481, 77482, 77483, 77484, 77485, 77486, 77487, 77488, 77489, 77490, 77491, 77492, 77493, 77494, 77495, 77496, 77497, 77498, 77499, 77500, 77501, 77502, 77503, 77504, 77505, 77506, 77507, 77508, 77509, 77510, 77511, 77512, 77513, 77514, 77515, 77516, 77517, 77518, 77519, 77520, 77521, 77522, 77523, 77524, 77525, 77526, 77527, 77528, 77529, 77530, 77531, 77532, 77533, 77534, 77535, 77536, 77537, 77538, 77539, 77540, 77541, 77542, 77543, ...]}

##### Faça um agrupamento de dados com base na coluna "Nível 1 - Setor" e localize os dados do grupo "Agropecuária":

In [25]:
dados_atualizados.groupby('Nível 1 - Setor').get_group('Agropecuária')

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Gás,Estado,Atividade Econômica,Produto,Ano,Emissão
1137,Agropecuária,Cultivo de Arroz,Diretas,Outros,Vegetal,Arroz,CH4 (t),AC,AGR,ALIM_BEBIDAS,1970,0.000000e+00
1138,Agropecuária,Cultivo de Arroz,Diretas,Outros,Vegetal,Arroz,CH4 (t),AL,AGR,ALIM_BEBIDAS,1970,2.050446e+03
1139,Agropecuária,Cultivo de Arroz,Diretas,Outros,Vegetal,Arroz,CH4 (t),AM,AGR,ALIM_BEBIDAS,1970,0.000000e+00
1140,Agropecuária,Cultivo de Arroz,Diretas,Outros,Vegetal,Arroz,CH4 (t),AP,AGR,ALIM_BEBIDAS,1970,0.000000e+00
1141,Agropecuária,Cultivo de Arroz,Diretas,Outros,Vegetal,Arroz,CH4 (t),BA,AGR,ALIM_BEBIDAS,1970,4.669347e+02
...,...,...,...,...,...,...,...,...,...,...,...,...
5293642,Agropecuária,Solos Manejados,Diretas,Variação dos Estoques de Carbono no Solo,Vegetal,Lavouras Cultivadas sob Sistema Plantio Direto,CO2e (t) GTP-AR6,RS,AGR,ALIM_BEBIDAS,2021,-1.236554e+07
5293643,Agropecuária,Solos Manejados,Diretas,Variação dos Estoques de Carbono no Solo,Vegetal,Lavouras Cultivadas sob Sistema Plantio Direto,CO2e (t) GTP-AR6,MS,AGR,ALIM_BEBIDAS,2021,-4.807660e+06
5293644,Agropecuária,Solos Manejados,Diretas,Variação dos Estoques de Carbono no Solo,Vegetal,Lavouras Cultivadas sob Sistema Plantio Direto,CO2e (t) GTP-AR6,MT,AGR,ALIM_BEBIDAS,2021,-1.662099e+07
5293645,Agropecuária,Solos Manejados,Diretas,Variação dos Estoques de Carbono no Solo,Vegetal,Lavouras Cultivadas sob Sistema Plantio Direto,CO2e (t) GTP-AR6,GO,AGR,ALIM_BEBIDAS,2021,-6.411860e+06
5293646,Agropecuária,Solos Manejados,Diretas,Variação dos Estoques de Carbono no Solo,Vegetal,Lavouras Cultivadas sob Sistema Plantio Direto,CO2e (t) GTP-AR6,DF,AGR,ALIM_BEBIDAS,2021,-1.564451e+05

##### Faça um agrupamento de dados com base na coluna "Nível 1 - Setor" para identificar a média de emissão de cada atividade econômica no ano de 2021:

In [26]:
dados_atualizados[dados_atualizados['Ano'] == 2021].groupby('Nível 1 - Setor')[['Emissão']].mean()

                                          Emissão
Nível 1 - Setor
Agropecuária                         53082.725943
Energia                              75120.049185
Mudança de Uso da Terra e Floresta  196843.405133
Processos Industriais               787101.255789
Resíduos                            106106.723386

##### Faça um agrupamento de dados com base na coluna "Nível 1 - Setor" para identificar a soma de emissão de cada atividade econômica. Ordene os dados da maior para menor emissão:

In [27]:
dados_atualizados.groupby('Nível 1 - Setor')[['Emissão']].sum(numeric_only = True) .sort_values(by = 'Emissão', ascending = False)

                                         Emissão
Nível 1 - Setor
Mudança de Uso da Terra e Floresta  2.494463e+11
Energia                             1.244170e+11
Agropecuária                        1.107286e+11
Processos Industriais               2.849965e+10
Resíduos                            1.034465e+10

# Aula 3

In [28]:
dados_atualizados.head(1)

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Gás,Estado,Atividade Econômica,Produto,Ano,Emissão
0,Processos Industriais,Indústria Química,Produção de ABS,NaN,NaN,NaN,COVNM (t),SP,OUTRA_IND,NaN,1970,0.0

##### Faça um agrupamento de dados com as colunas "Estado" e "Nível 1 - Setor", obtendo a soma de emissão e armazenando o resultado em uma tabela:

In [29]:
emissao_estado = dados_atualizados.groupby(['Estado', 'Nível 1 - Setor'])[['Emissão']].sum()
emissao_estado.head()

                                                Emissão
Estado Nível 1 - Setor
AC     Agropecuária                       -3.272006e+08
       Energia                             2.071751e+08
       Mudança de Uso da Terra e Floresta  4.704492e+09
       Resíduos                            2.928323e+07
AL     Agropecuária                        1.215829e+09

##### Utilizando a tabela construída na atividade 1, selecione os dados referentes à "Energia" do índice "Nível 1 - Setor":

In [30]:
emissao_estado.xs('Energia', level = 1).head()

             Emissão
Estado
AC      2.071751e+08
AL      5.958697e+08
AM      1.916462e+09
AP      2.638059e+08
BA      4.801368e+09

##### Utilizando a tabela construída na atividade 1, encontre a atividade econômica com valor máximo de emissão do Estado de Minas Gerais:

In [31]:
emissao_estado.xs('MG', level = 0).idxmax()

Emissão    Agropecuária
dtype: object

In [32]:
emissao_estado.xs('MG', level = 0).max()

Emissão    1.557237e+10
dtype: float64

##### Obtenha uma tabela contendo a atividade econômica com máxima emissão para cada Estado:

In [33]:
atividade_maxima_estado = emissao_estado.groupby('Estado').idxmax()
atividade_maxima_estado.head(1)

                                         Emissão
Estado
AC      (AC, Mudança de Uso da Terra e Floresta)

In [34]:
valor_maximo_estado = emissao_estado.groupby('Estado').max().values
valor_maximo_estado[0]

array([4.70449243e+09])

In [35]:
atividade_maxima_estado.insert(1, 'E. Máxima', valor_maximo_estado)
atividade_maxima_estado.head()

                                         Emissão     E. Máxima
Estado
AC      (AC, Mudança de Uso da Terra e Floresta)  4.704492e+09
AL                            (AL, Agropecuária)  1.215829e+09
AM                                 (AM, Energia)  1.916462e+09
AP                                 (AP, Energia)  2.638059e+08
BA                            (BA, Agropecuária)  7.227622e+09

##### Obtenha uma tabela contendo o Estado com máxima emissão para cada atividade econômica:

In [36]:
emissao_estado.swaplevel(0, 1).head()

                                                Emissão
Nível 1 - Setor                    Estado
Agropecuária                       AC     -3.272006e+08
Energia                            AC      2.071751e+08
Mudança de Uso da Terra e Floresta AC      4.704492e+09
Resíduos                           AC      2.928323e+07
Agropecuária                       AL      1.215829e+09

In [37]:
emissao_estado.groupby('Nível 1 - Setor').idxmax()

                                                                     Emissão
Nível 1 - Setor
Agropecuária                                              (MG, Agropecuária)
Energia                                                        (SP, Energia)
Mudança de Uso da Terra e Floresta  (MT, Mudança de Uso da Terra e Floresta)
Processos Industriais                            (MG, Processos Industriais)
Resíduos                                                     (SP, Resíduos )

##### .pivot_table():

In [40]:
emissao_estado.head()

                                                Emissão
Estado Nível 1 - Setor
AC     Agropecuária                       -3.272006e+08
       Energia                             2.071751e+08
       Mudança de Uso da Terra e Floresta  4.704492e+09
       Resíduos                            2.928323e+07
AL     Agropecuária                        1.215829e+09

In [41]:
emissao_estado.pivot_table(index = 'Nível 1 - Setor', columns = 'Estado', values = 'Emissão')

Estado,AC,AL,AM,AP,BA,BR,CE,DF,ES,GO,...,PR,RJ,RN,RO,RR,RS,SC,SE,SP,TO
Nível 1 - Setor,,,,,,,,,,,,,,,,,,,,,
Agropecuária,-3.272006e+08,1.215829e+09,4.089345e+07,1.345908e+08,7.227622e+09,NaN,2.334039e+09,1.118528e+08,1.713008e+09,1.156308e+10,...,6.493219e+09,1.429802e+09,6.828049e+08,1.170072e+09,1.540912e+08,1.004486e+10,1.928701e+09,7.201812e+08,1.320324e+10,2.789108e+09
Energia,2.071751e+08,5.958697e+08,1.916462e+09,2.638059e+08,4.801368e+09,NaN,1.879584e+09,9.487860e+08,2.201326e+09,2.761709e+09,...,5.502734e+09,9.151787e+09,9.473144e+08,7.246552e+08,1.672719e+08,5.901596e+09,4.328366e+09,6.627356e+08,2.214979e+10,5.130379e+08
Mudança de Uso da Terra e Floresta,4.704492e+09,2.480477e+08,-1.534448e+10,-2.638732e+09,6.723253e+09,2.587254e+10,7.161391e+08,-1.468681e+07,8.363656e+08,4.988372e+09,...,4.168398e+09,2.775797e+08,1.527357e+08,2.898987e+10,-3.441040e+08,3.024390e+09,3.008091e+09,1.820478e+08,2.882663e+09,6.486598e+09
Processos Industriais,NaN,6.035868e+07,6.577097e+07,NaN,5.279045e+08,NaN,2.029116e+08,2.808629e+08,2.344011e+09,1.716006e+08,...,8.525998e+08,2.987176e+09,8.363871e+07,1.627021e+07,NaN,2.436374e+08,1.104249e+08,3.706676e+08,4.364101e+09,2.613905e+07
Resíduos,2.928323e+07,1.372234e+08,2.095418e+08,3.146253e+07,5.870007e+08,NaN,4.084013e+08,1.513052e+08,2.000138e+08,3.164097e+08,...,5.984168e+08,1.266324e+09,1.335969e+08,7.165710e+07,2.437322e+07,6.387683e+08,3.587615e+08,8.778237e+07,2.370314e+09,6.177003e+07

# Inventar atividade sobre a última aula